<div id="mainPageContainer container container-fluid">
	<!-- LOG OUT-->
	<div class="topnav">
		<ul class="nav navbar-nav navbar-right">
			<a href='#' ng-click="logout();" class="fas fa-sign-out-alt  ml-auto text-dark">Log out</a>
		</ul>
	</div>


	<!-- SELECTOR DE FUNCIONALIDADES -->
	<div id="seleccionarFuncionalidad">
		&nbsp;&nbsp;
		<select id="cmbSeleccionarEquipo" ng-model="funcionalidadSeleccionada">
			<option value="listar-pendientes-en-fecha">Listar partidos pendientes en fecha</option>
			<option value="habilitar-fechas">Habilitar fechas</option>
			<option value="Modificar Presupuestos Equipo">Modificar Presupuestos Equipo</option>
			<option value="Cargar Tabla Anual">Cargar Tabla Anual</option>
			<option value="Restaurar Base de Datos">Restaurar base de datos</option>
			<option value="Simular Intercambio">Simular Intercambio</option>
			<option value="Mostrar Jugadores">Mostrar Jugadores</option>
			<option value="Actualizar Jugadores">Actualizar Jugadores</option>
			<option value="Crear Usuarios">Crear Usuarios</option>
			<option value="Crear Equipos">Crear Equipos</option>
			<option value="Periodos de Traspasos">Periodos de Traspasos</option>
			<option value="ingresar-seccion-reglamento">Ingresar nueva sección al reglamento</option>
			<option value="modificar-seccion-reglamento">Modificar sección del reglamento</option>
		</select>
		<p><h1 class="text-center deepshd">{{funcionalidadSeleccionada}}</h1></p>
	</div>


	<!-- FUNCIONALIDAD Modificar sección del reglamento - editar una -->
	<div id="modificar-seccion-reglamento-editar" ng-show="funcionalidadSeleccionada == 'modificar-seccion-reglamento-editar'">
		<p>
			<font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>
				&nbsp;&nbsp;
				Modificar sección:
			</font>	
			<p>
				<span>{{seccion_reglamento_indice}}</span><br/>
				<input type = "text" placeholder="Título" ng-model="seccion_reglamento_titulo" class="w-25 text-center h3"><br/>
				<textarea placeholder="Contenido" ng-model="seccion_reglamento_contenido" class="w-100" style="margin-top: 0px; margin-bottom: 0px; height: 364px;"/>
				<button ng-click="actualizarSeccionReglamento()">Confirmar</button>
			</p>
		</p>
	</div>


	<!-- FUNCIONALIDAD Modificar sección del reglamento -->
	<div id="modificar-seccion-reglamento" ng-show="funcionalidadSeleccionada == 'modificar-seccion-reglamento'">
		<p>
			<table class="table text-center" >
				<thead>
					<tr>
						<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Índice</font></th>
						
						<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Título</font></th>
						
						<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Contenido</font></th>

						<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Acciones</font></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="seccion in secciones_reglamento">
						<td class="text-center">
							{{seccion.indice}}
						</td>
						<td class="text-center">
							{{seccion.titulo}}
						</td>
						<td class="text-center">
							{{seccion.contenido.substr(0, 20) + (seccion.contenido.length > 20?"...":"")}}
						</td>
						<td class="text-center">
							<button ng-click="editarSeccionReglamento(seccion.indice)">Editar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</p>
	</div>



	<!-- FUNCIONALIDAD Ingresar nueva sección al reglamento -->
	<div id="ingresar-seccion-reglamento" ng-show="funcionalidadSeleccionada == 'ingresar-seccion-reglamento'">
		<p>
			<font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>
				&nbsp;&nbsp;
				Ingresar nueva sección al reglamento:
			</font>	
			<p>
				<input type = "text" placeholder="Índice" ng-model="seccion_reglamento_indice" class="w-10"><br/>
				<input type = "text" placeholder="Título" ng-model="seccion_reglamento_titulo" class="w-50 h3 text-center"><br/>
				<textarea placeholder="Contenido" ng-model="seccion_reglamento_contenido" class="w-100" style="margin-top: 0px; margin-bottom: 0px; height: 364px;"/>
				<button ng-click="ingresarSeccionReglamento()">Confirmar</button>
			</p>
		</p>
	</div>


	<!-- FUNCIONALIDAD Listar partidos pendientes en fecha -->
	<div id="listar-pendientes-en-fecha" ng-show="funcionalidadSeleccionada == 'listar-pendientes-en-fecha'">
		<p>
			<font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>
				&nbsp;&nbsp;
				Listar partidos pendientes en fecha: 	
			</font>	
			<p>
				<input type = "text" placeholder="Fecha" ng-model="fecha_para_listar_partidos_pendientes" class="w-25">
				<button ng-click="listarPendientes()">Listar partidos pendientes</button>
			</p>
		</p>
		<table class="table text-center">
			<thead>
				<tr>
					<th class="text-center">Nombre</th>
					<th class="text-center">Local</th>
					<th class="text-center">Visitante</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="partido in infoListarPartidosPendientes.partidos_pendientes">
					<td class="text-center">
						{{partido.fecha}}
					</td>
					<td class="text-center">
						{{partido.nombre_local}}
					</td>
					<td class="text-center">
						{{partido.nombre_visitante}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>


	<!-- FUNCIONALIDAD Habilitar fechas -->
	<div id="habilitar-fechas" ng-show="funcionalidadSeleccionada == 'habilitar-fechas'">
		<p>
			<font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>
				&nbsp;&nbsp;
				Seleccionar Campeonato: 	
			</font>	
			<select class="btn btn-secondary" id="cmbCampeonatos" ng-model="campeonato_seleccionado" ng-options="campeonato.nombre for campeonato in campeonatos | orderBy:'nombre'" ng-change="seCambioCampeonato()">
				Otro campeonato
			</select>
		</p>
		<p ng-show="campeonato_seleccionado != null">
			<font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>
				&nbsp;&nbsp;
				Seleccionar Etapa: 	
			</font>	
			<select class="btn btn-secondary" id="cmbEtapas" ng-model="etapa_seleccionada" ng-options="etapa.nombre for etapa in etapas_campeonato">
				Otra etapa
			</select>
		</p>
		<p ng-show="campeonato_seleccionado != null" class="">
			<input type = "text" placeholder="Número de fecha a habilitar" ng-model="num_fecha_a_habilitar" class="w-25">
		</p>
		<p ng-show="campeonato_seleccionado != null" class="">
			<input type = "text" placeholder="(AAAA-MM-DD <- usar este formato) Día de habilitación" ng-model="dia_habilitacion" class="w-25">
		</p>
		<p ng-show="campeonato_seleccionado != null" class="">
			<button ng-click="habilitarFecha()">Habilitar fecha</button>
		</p>
	</div>

	<!-- FUNCIONALIDAD Modificar Presupuestos Equipo-->
	<div id="Modificar Presupuestos Equipo" ng-show="funcionalidadSeleccionada == 'Modificar Presupuestos Equipo'">

		<p>
		<font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>
		&nbsp;&nbsp;
		Seleccionar Equipo: 	
		</font>	
		<select class="btn btn-secondary" id="cmbEquipos" ng-model="equipo_seleccionado" ng-options="equipo.name for equipo in equipos_asignados | orderBy:'name'" ng-change="seCambioEquipo()">Otro equipo</select>
		</p>
	
		<table class="table text-center" >
			<thead>
				<tr>
					<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Puntos</font></th>
					
					<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Actuales</font></th>
					
					<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Ganados</font></th>
					
					<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Nuevos</font></th>

				</tr>
				<tr>
					<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>TOP</font></th>

					<th class="text-center"><input type="number" class="text-center" ng-model="modificarPresupuesto_top_actual" step="0.25" disabled></th>
					
					<th class="text-center"><input type="number" class="text-center" ng-model="modificarPresupuesto_top_ganado" step="0.25" ng-change="seCambioGananciaTop()"></th>
					
					<th class="text-center"><input type="number" class="text-center" ng-model="modificarPresupuesto_top_nuevo" step="0.25" disabled></th>

				</tr>
				<tr>
					<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>PERRUNFLA</font></th>
					
					<th class="text-center"><input type="number" class="text-center" ng-model="modificarPresupuesto_perrunfla_actual" step="0.25" disabled></th>
					
					<th class="text-center"><input type="number" class="text-center" ng-model="modificarPresupuesto_perrunfla_ganado" step="0.25" ng-change="seCambioGananciaPerrunfla()"></th>
					
					<th class="text-center"><input type="number" class="text-center" ng-model="modificarPresupuesto_perrunfla_nuevo" step="0.25" disabled></th>

				</tr>
			</thead>
		</table>
		<table class="table text-center" >
			<tr>
				<th class="text-center"><button style='width:140px; height:50px' ng-click="modificarPresupuesto()">Modificar Presupuestos</button> </th>
			</tr>		
		</table>

	</div>

	<!-- FUNCIONALIDAD Cargar Tabla Anual-->
	<div id="Cargar Tabla Anual" ng-show="funcionalidadSeleccionada == 'Cargar Tabla Anual'">
		<table class="table text-center" >
			<thead>
				<tr>
					<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Id Apertura</font></th>

					<th class="text-center"><input type="number" class="text-center" ng-model="id_apertura" step="1"></th>

				</tr>
				<tr>
					<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Id Clausura</font></th>

					<th class="text-center"><input type="number" class="text-center" ng-model="id_clausura" step="1"></th>
				</tr>
				<tr>
					<th class="text-center"><font color="white" style="text-shadow: -1px 0 black,0 1px black, 1px 0 black, 0 -1px black;" text-shadow:>Id Anual</font></th>

					<th class="text-center"><input type="number" class="text-center" ng-model="id_anual" step="1"></th>
				</tr>
			</thead>
		</table>	
		<table class="table text-center" >
			<tr>
				<th class="text-center"><button style='width:140px; height:50px' ng-click="cargarAnual()">Cargar Anual</button> </th>
			</tr>		
		</table>

	</div>

	<!-- FUNCIONALIDAD Restaurar Base de Datos-->
	<div id="Restaurar Base de Datos" ng-show="funcionalidadSeleccionada == 'Restaurar Base de Datos'">
		<button ng-click="restaurarBD()">Restaurar Base de Datos</button>
		<input type = "password" placeholder="Contraseña de administrador" ng-model="infoAdmin.clave">

	</div>


	<!-- FUNCIONALIDAD Simular Intercambio-->
	<div id="Simular Intercambio" ng-show="funcionalidadSeleccionada == 'Simular Intercambio'">
		
		<!-- TOPS -->
		<p><h2 class="text-center retroshd">Tops</h2></p>

		<p class="text-center">
			<input type = "text" placeholder="Presupuesto top" ng-model="infoSimularIntercambio.top.presupuesto">
			<input type = "text" placeholder="Suma jugadores top" ng-model="infoSimularIntercambio.top.sumaJugadores">
			<input type = "text" placeholder="Cantidad de intercambios top" ng-model="infoSimularIntercambio.top.cantidadIntercambios">
		</p>
		
		<table class="table text-center" ng-show="infoSimularIntercambio.top.cantidadIntercambios.length > 0">
			<thead>
				<tr>
					<th class="text-center">Precio jugador a comprar</th>
					<th class="text-center">Overall jugador a vender</th>
					<th class="text-center">Precio compra jugador a vender</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in [] | range:infoSimularIntercambio.top.cantidadIntercambios">
					<td class="text-center">
						<input type = "text" placeholder="Valor de compra jugador {{i+1}}" ng-model="infoSimularIntercambio.top.valorJugadorAComprar[i]">
					</td>
					<td class="text-center">
						<input type = "text" placeholder="Overall de jugador {{i+1}} a vender" ng-model="infoSimularIntercambio.top.overallJugadorAVender[i]">
					</td>
					<td class="text-center">
						<input type = "text" placeholder="Monto pagado por jugador a vender {{i+1}}" ng-model="infoSimularIntercambio.top.pagadoJugadorAVender[i]">
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-show="infoSimularIntercambio.top.resultadoIntercambio.length > 0">
			<p><h3 class="retroshd text-center">Resultados top</h3></p>
			<table class="table text-center">
				<thead>
					<tr>
						<th class="text-center">Número de traspaso</th>
						<th class="text-center">Resultado</th>
						<th class="text-center">Resumen</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in [] | range:infoSimularIntercambio.top.resultadoIntercambio.length">
						<td class="text-center">{{(i+1)}}</td>
						<td class="text-center">{{infoSimularIntercambio.top.resultadoIntercambio[i].fallo ? "Falló" : "Se hizo"}}</td>
						<td class="text-center">{{infoSimularIntercambio.top.resultadoIntercambio[i].motivo}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- PERRUNFLA -->
		<p><h2 class="text-center retroshd">Perrunflas</h2></p>
		<p  class="text-center">
			<input type = "text" placeholder="Presupuesto perrunfla" ng-model="infoSimularIntercambio.perrunfla.presupuesto">
			<input type = "text" placeholder="Suma jugadores perrunfla" ng-model="infoSimularIntercambio.perrunfla.sumaJugadores">
			<input type = "text" placeholder="Cantidad de intercambios perrunfla" ng-model="infoSimularIntercambio.perrunfla.cantidadIntercambios">
		</p>
		
		<table class="table text-center" ng-show="infoSimularIntercambio.perrunfla.cantidadIntercambios.length > 0">
			<thead>
				<tr>
					<th class="text-center">Precio jugador a comprar</th>
					<th class="text-center">Overall jugador a vender</th>
					<th class="text-center">Precio compra jugador a vender</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in [] | range:infoSimularIntercambio.perrunfla.cantidadIntercambios">
					<td class="text-center">
						<input type = "text" placeholder="Valor de compra jugador {{i+1}}" ng-model="infoSimularIntercambio.perrunfla.valorJugadorAComprar[i]">
					</td>
					<td class="text-center">
						<input type = "text" placeholder="Overall de jugador {{i+1}} a vender" ng-model="infoSimularIntercambio.perrunfla.overallJugadorAVender[i]">
					</td>
					<td class="text-center">
						<input type = "text" placeholder="Monto pagado por jugador a vender {{i+1}}" ng-model="infoSimularIntercambio.perrunfla.pagadoJugadorAVender[i]">
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-show="infoSimularIntercambio.perrunfla.resultadoIntercambio.length > 0">
			<p><h3 class="retroshd text-center">Resultados perrunfla</h3></p>
			<table class="table text-center">
				<thead>
					<tr>
						<th class="text-center">Número de traspaso</th>
						<th class="text-center">Resultado</th>
						<th class="text-center">Resumen</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in [] | range:infoSimularIntercambio.perrunfla.resultadoIntercambio.length">
						<td class="text-center">{{(i+1)}}</td>
						<td class="text-center">{{infoSimularIntercambio.perrunfla.resultadoIntercambio[i].fallo ? "Falló" : "Se hizo"}}</td>
						<td class="text-center">{{infoSimularIntercambio.perrunfla.resultadoIntercambio[i].motivo}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<p class="text-center">
			<button ng-show="!infoSimularIntercambio.simulacionHecha" ng-click="simularIntercambio()">Simular Intercambio</button>
		</p>
		<div class="text-center" ng-show="infoSimularIntercambio.simulacionHecha">
			<p id="resultadoSimulacion">
				<div id= "alertResultados" class="alert alert-warning alert-dismissible fade show" role="alert"><h2>
				  {{(infoSimularIntercambio.perrunfla.falloElIntercambio || infoSimularIntercambio.top.falloElIntercambio) ? "No se hizo ningún traspaso" : "Se hicieron todos los traspasos"}}</h2>
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
			</p>
			<button ng-click="reiniciarSimulador()">Reiniciar simulación</button>
		</div>
	</div>



	<!-- FUNCIONALIDAD Crear Equipos-->
	<div id="Crear Equipos" ng-show="funcionalidadSeleccionada == 'Crear Equipos'">
		<input type = "text" placeholder="Nombre de equipo" ng-model="infoCrearEquipo.name">
		<input type = "text" placeholder="Presupuesto top" ng-model="infoCrearEquipo.top_budget">
		<input type = "text" placeholder="Presupuesto perrunflas" ng-model="infoCrearEquipo.perrunflas_budget">
		<select id="cmbSeleccionarUsuario" ng-model="infoCrearEquipo.owner" ng-options="usuario.name for usuario in usuarios" >Seleccionar</select>
		<button ng-click="crearNuevoEquipo()">Crear Equipo</button>
	</div>



	<!-- FUNCIONALIDAD Crear Usuarios-->
	<div id="Crear Usuarios" ng-show="funcionalidadSeleccionada == 'Crear Usuarios'">
		<input type = "text" placeholder="Nombre de usuario" ng-model="infoCrearUsuario.usuario">
		<input type = "text" placeholder="Clave" ng-model="infoCrearUsuario.clave">
		<input type = "text" placeholder="Repetir clave" ng-model="infoCrearUsuario.repetirClave">
		<button ng-click="crearNuevoUsuario()">Crear Usuario</button>
	</div>



	<!-- FUNCIONALIDAD Actualizar Jugadores-->
	<div id="Actualizar Jugadores" ng-show="funcionalidadSeleccionada == 'Actualizar Jugadores'">
		<input type = "text" placeholder="Página inicial" ng-model="pagInicial">
		<input type = "text" placeholder="Página final" ng-model="pagFinal">
		<button ng-click="actualizarJugadoresEnBD()">Actualizar jugadores en BD</button>
	</div>

	<!-- FUNCIONALIDAD Periodos de Traspasos-->
	<div id="Periodos de Traspasos"  ng-show="funcionalidadSeleccionada == 'Periodos de Traspasos'">
		<table class="table text-center">
			<thead>
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Fecha de inicio</th>
					<th class="text-center">Fecha de fin</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th class="text-center">
						<button class="btn btn-success mx-auto" ng-click="crearNuevoPeriodo()">
							Crear Período
						</button>
						<input type = "password" placeholder="Contraseña de administrador" ng-model="infoAdmin.clave">
					</th>
					<th class="text-center">
						<input type = "text" placeholder="Dia" ng-model="periodoDeTraspasos.diaInicio" class="col-md-2">
						<input type = "text" placeholder="Mes" ng-model="periodoDeTraspasos.mesInicio" class="col-md-2">
						<input type = "text" placeholder="Anio" ng-model="periodoDeTraspasos.anioInicio" class="col-md-2">
					</th>
					<th class="text-center">
						<input type = "text" placeholder="Dia" ng-model="periodoDeTraspasos.diaFin" class="col-md-2">
						<input type = "text" placeholder="Mes" ng-model="periodoDeTraspasos.mesFin" class="col-md-2">
						<input type = "text" placeholder="Anio" ng-model="periodoDeTraspasos.anioFin" class="col-md-2">
					</th>

					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="periodo in periodos">
					<td class="text-center">{{periodo.id}}</td>
					<td class="text-center">{{periodo.fechaInicio}}</td>
					<td class="text-center">{{periodo.fechaFin}}</td>
				</tr>
			</tbody>
		</table>
	</div>


	<!-- FUNCIONALIDAD Mostrar Jugadores-->
	<div id="Mostrar Jugadores"  ng-show="funcionalidadSeleccionada == 'Mostrar Jugadores'">
		<table class="table text-center">
			<thead>
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Nombre</th>
					<th class="text-center">Valor actual</th>
					<th class="text-center">Es top</th>
					<th class="text-center">Valor de compra</th>
					<th class="text-center">Equipo actual</th>
					<th class="text-center">Asociar a 
						<select id="cmbSeleccionarEquipo" ng-model="equipoSeleccionado" ng-options="equipo.name for equipo in equipos" >Seleccionar</select>

					</th>
				</tr>
			</thead>
			<thead>
				<tr>
					<th class="text-center">
						<input type = "text" placeholder="Buscar ID" ng-model="filtroJugador.filtroId">
					</th>
					<th class="text-center">
						<input type = "text" placeholder="Buscar Nombre" ng-model="filtroJugador.filtroNombre">
					</th>
					<th class="text-center">
						<input type = "text" placeholder="Actual min" ng-model="filtroJugador.filtroValorActualMin">
						<input type = "text" placeholder="Actual max" ng-model="filtroJugador.filtroValorActualMax">
					</th>
					<th class="text-center"></th>
					<th class="text-center">
						<input type = "text" placeholder="V. de compra min" ng-model="filtroJugador.filtroValorCompraMin">
						<input type = "text" placeholder="V. de compra max" ng-model="filtroJugador.filtroValorCompraMax">
					</th>
					<th class="text-center">
						<input type = "text" placeholder="Equipo actual" ng-model="filtroJugador.filtroEquipoActual">
					</th>
					<th class="text-center"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="jugador in jugadoresMostrados 
					| filter: 
						{
							name: filtroJugador.filtroNombre
							, id: filtroJugador.filtroId
							, team_name: filtroJugador.filtroEquipoActual
						}
					| filter: betweenMinAndMax(
							filtroJugador.filtroValorActualMin
							, filtroJugador.filtroValorActualMax
							, 'overall_rating'
							)
					| filter: betweenMinAndMax(
							filtroJugador.filtroValorCompraMin
							, filtroJugador.filtroValorCompraMax
							, 'price_paid'
							)
					| limitTo: 15
							">
					<td class="text-center">{{jugador.id}}</td>
					<td class="text-center">{{jugador.name}}</td>
					<td class="text-center">{{jugador.overall_rating}}</td>
					<td class="text-center">
						<input type="checkbox" ng-checked="jugador.is_top!=0" class="form-check-input" ng-model="jugador.is_top">
	   					<label class="form-check-label" for="exampleCheck1">Es top.</label>
					</td>
					<td class="text-center">
						<input type = "text" placeholder="Valor de compra" ng-model="jugador.price_paid">
					</td>
					<td class="text-center">{{jugador.team_name}}</td>
					<td class="text-center">
						<button ng-click="asociarAEqipo(jugador)" class="btn btn-success mx-auto" ng-show="0 == jugador.team_id && equipoSeleccionado.id != null">Asociar</button>
						<button ng-click="desasociarDeEqipo(jugador)" class="btn btn-success mx-auto" ng-show="0 != jugador.team_id">Desasociar</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>