
<div class= "container mt-5 ">
  <div class= "row">
    <div class= "col-sm-12 text-center"> <h1> <strong>Formulario <span ng-show = "enLogin ==  'true'"> Login</span> <span ng-show = "enLogin =='false'"> Registro </span> </strong></h1></div>
    <div class= "col-sm-12 text-center"> <a >Ingrese sus datos</a></div>
    <form class= "align-items-center col-sm-5 mx-auto bg-secondary rounded mt-5 bg-dark"> 
      <div class="form-group text-center py-4 ">       
        <input class="form-control" id="focused input" type="text" placeholder ="Usuario" ng-model="userLogin.user">
        <br>
        <input class="form-control" id="focused input" type="text" placeholder="Contraseña" ng-model="userLogin.psw">
        <br>
        <p>{{error}}</p>
        <button ng-click="tryLogin()" class="btn btn-success mx-auto" ng-show = "enLogin ==  'true'">Log in</button>
        <span ng-show = "enLogin == 'false'">
          <input type="text" placeholder ="URL usuario" ng-model="userLogin.img">
          <p id="imagen" class="text-center"><img ng-src={{userLogin.img}} ng-style="{ width: '225px', height: '200px' }"></p>
        </span>
        <button ng-click="register()" class="btn btn-success mx-auto" ng-show = "enLogin == 'false'"> Registrarme </button> 
      </div>
    </form>
      <div class= "col-sm-8 mx-auto text-center">
        <br>
        <div class= "myform-top "> Si<span ng-show = "enLogin ==  'true'"> no</span> tenés cuenta, <span ng-show = "enLogin ==  'true'">registrate</span><span ng-show = "enLogin ==  'false'">logueate</span>
        </div>
        <div class="mt-5">
          <a href ="#" ng-click='enLogin = "false"'><h5 class=" d-inline px-3 py-2 border border-dark" ng-show = "enLogin == 'true'">Registrarme</h5></a>
          <a href ="#" ng-click='enLogin = "true"'><h5 class=" d-inline px-3 py-2 border border-dark" ng-show = "enLogin == 'false'">Loguearme</h5></a>
        </div>
      </div>
  </div>
</div>
