<nav aria-label="Albums pagination">
  <ul class="pagination">
    <li class="page-item">
    	<a class="page-link" ng-show="pageNumber > 1" ui-sref="mainPage({page:pageNumber-1, albumsPerPage:pageSize, styleName:artistSeleccionado.nombre})" href="#" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
    		<span class="sr-only">Previous</span>
    	</a>
    </li>
    <li ng-repeat="album in albumesFiltrados | limitTo: Math.ceil(albumesFiltrados.length / pageSize)" class="page-item" ng-class="{'badge badge-primary':$index+1 == pageNumber}">
    	<a class="page-link" ui-sref="mainPage({page:($index+1), albumsPerPage:pageSize, styleName:artistSeleccionado.nombre})" href="#">
    		{{($index+1)}}
    	</a>
    </li>
	<li class="page-item">
		<a class="page-link" ng-show="pageNumber < Math.ceil(albumesFiltrados.length / pageSize)" ui-sref="mainPage({page:(pageNumber+1), albumsPerPage:pageSize, styleName:artistSeleccionado.nombre})" href="#" aria-label="Next">
	   		<span aria-hidden="true">&raquo;</span>
        	<span class="sr-only">Next</span>
		</a>
	</li>
  </ul>
</nav>

<p><input type="text" placeholder ="Tracks / página" ng-model="pageSize"></p>

<div class="d-flex flex-wrap">
	<span class="text-center ml-5" ng-repeat="album in albumesFiltrados | limitTo: pageSize: (pageNumber-1)*pageSize">
		<a  ui-sref="album({albumId:album.id, command:'view', page:1, tracksPerPage:5, playMode:1})">
			<img ng-src="{{album.img}}" ng-style="{ width: '225px', height: '200px' }">
			<h5 class="text-center text-dark">{{album.nombre}}</h5>
		</a>
		<p class="text-center text-dark"><button ng-click="eliminarAlbum(album.id)" class="btn btn-success mx-auto">Eliminar Album</button></p>
	</span>
</div>