
<div class="container-fluid text-center"> 
  <div class="topnav">
    <ul class="nav navbar-nav navbar-right">
        <a href='#' ng-click="logout();" class="fas fa-sign-out-alt  ml-auto text-dark">
          Log out
        </a>
    </ul>
  </div>  

  
  <div class="row content">
    <div class="col-sm-1 sidebar bg-dark">
      <p><a ui-sref="album({albumId:-1, command:'create', page:1, tracksPerPage:5, playMode:1})"  class="text-white">Crear Álbum</a></p>
    </div>
    <div class= "col-md-11 ml-sm-auto col-lg-10 px-4">
      <div class="col-sm-10 text-left">
       <select ng-model="artistSeleccionado" ng-selected="onEstiloSeleccionado()" ng-options="artist.nombre for artist in artistsDiferentes"></select>
       
      <div id="albumes-container" class="container-fluid" ng-include="'app/components/mainPage/views/albumElement.html'">
        
      </div>
    </div>
  </div>
 </div>
