<div id="mainPageContainer container container-fluid">
	<h3>Buscar jugador</h3>
	<form>
	    <input type = "text" placeholder="Nombre o id" ng-model="$parent.textoJugadorABuscar">
	    <button type="submit" class="btn btn-primary" ng-click="buscar()">Buscar</button>
   	</form>
    <div class="overflow-auto" style="height:350px">
		<a href="#!/userZone/verJugador/{{jugador.id}}" style="line-height: 0.5" class="list-group-item list-group-item-action bg-light mb-1" ng-repeat="jugador in jugadoresEncontrados | limitTo: 15">{{jugador.id}} - {{jugador.name}} - {{jugador.overall_rating}}</a>
	</div>
</div>