<div class="container text-center bg-light rounded border border-dark shadow p-3 mb-2">
  <div class="row">
    <div class="col">
      Presupuesto top: {{equipoMostrado.top_budget}}
    </div>
    <div class="col">
      Suma de jugadores top: {{equipoMostrado.suma_tops}}
    </div>
    <div class="col">
      Resto top: {{equipoMostrado.resto_tops}}
    </div>
    <div class="col">
      Valor equipo tops: {{equipoMostrado.valor_equipo_tops}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      Presupuesto perrunfla: {{equipoMostrado.perrunflas_budget}}
    </div>
    <div class="col">
      Suma de jugadores perrunflas: {{equipoMostrado.suma_perrunflas}}
    </div>
    <div class="col">
      Resto perrunflas: {{equipoMostrado.resto_perrunflas}}
    </div>
    <div class="col">
      Valor equipo perrunflas: {{equipoMostrado.valor_equipo_perrunflas}}
    </div>
  </div>
</div>



<!-- Próximos partidos -->
<div>
	<p><h2 class="text-center retroshd">Próximos partidos</h2></p>
	<table class="table text-center">
		<thead class="bg-light">
			<tr>
				<th class="text-center">Fecha</th>
        <th class="text-center">Local</th>
        <th class="text-center">Visitante</th>
        <th class="text-center">En Toornament</th>
				<th class="text-center">Acciones</th>
			</tr>
		</tdead>
		<tbody>
			<tr ng-repeat="partido in infoToornament.proximosPartidos " class="bg-light">
				<td class="text-center">{{partido.fecha}}</td>
        <td class="text-center">{{partido.nombreLocal}}</td>
        <td class="text-center">{{partido.nombreVisitante}}</td>
        <td class="text-center"><a href='{{partido.linkPartido}}'>Abrir en Toornament</a></td>
				<td class="text-center">
          <button ng-click="ingresarResultado(partido)" class="btn btn-success mx-auto">Ingresar Resultado</button>  
        </td>
			</tr>
		</tbody>
	</table>
</div>

<div id = 'toornamentLogoContainer' class='float-right'>
  <a href= "https://www.toornament.com"><img src="app/Imagenes/Toornament/PoweredbyToor_Black.png" width="180px"></a>
</div>