<div id="ver-reglamento">
  <p><h2 class="text-center retroshd">Reglamento Dynástyco</h2></p>
  <table class="table text-center">
    <thead class="bg-light">
      <tr>
        <th class="text-center">Índice</th>
        <th class="text-center">Título</th>
        <th class="text-center">Acciones</th>
      </tr>
    </tdead>
    <tbody>
      <tr ng-repeat="seccion in secciones_reglamento" class="bg-light">
        <td class="text-center">
          {{seccion.indice}}
        </td>
        <td class="text-center">
          {{seccion.titulo}}
        </td>
        <td class="text-center">
          <button ng-click="verSeccionReglamento(seccion.indice)" class="btn btn-primary" ng-show="{{seccion.contenido != ''}}">Ver sección</button>
          <span ng-show="{{seccion.contenido == ''}}">Sin contenido</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>