<div class="container text-center bg-light rounded border border-dark shadow p-3 mb-2">
  <div class="row">
    <div class="col">
      Presupuesto top: {{equipoMostrado.top_budget}}
    </div>
    <div class="col">
      Suma de jugadores top: {{equipoMostrado.suma_tops}}
    </div>
    <div class="col">
      Resto top: {{equipoMostrado.resto_tops}}
    </div>
    <div class="col">
      Valor equipo tops: {{equipoMostrado.valor_equipo_tops}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      Presupuesto perrunfla: {{equipoMostrado.perrunflas_budget}}
    </div>
    <div class="col">
      Suma de jugadores perrunflas: {{equipoMostrado.suma_perrunflas}}
    </div>
    <div class="col">
      Resto perrunflas: {{equipoMostrado.resto_perrunflas}}
    </div>
    <div class="col">
      Valor equipo perrunflas: {{equipoMostrado.valor_equipo_perrunflas}}
    </div>
  </div>
</div>



<!-- Traspasos no cadenas -->
<div ng-show="infoTraspasosUsuarioLogueado.traspasos_no_cadenas.length > 0">
	<p><h2 class="text-center retroshd">Traspasos entre {{$parent.usuarioLogueado.equipo.name}} y el Mercado Asiático</h2></p>
	<table class="table text-center">
		<thead>
			<tr>
				<th class="text-center">ID de compra/venta</th>
				<th class="text-center">¿Aceptó el vendedor?</th>
				<th class="text-center">¿Aceptó el comprador?</th>
				<th class="text-center">Nombre equipo vendedor</th>
				<th class="text-center">Nombre equipo comprador</th>
				<th class="text-center">Nombre jugador</th>
				<th class="text-center">Id jugador</th>
				<th class="text-center">Fecha de creación</th>
				<th class="text-center">Cambiar mi postura</th>
			</tr>
		</tdead>
		<tbody>
			<tr ng-repeat="traspaso in infoTraspasosUsuarioLogueado.traspasos_no_cadenas ">
				<td class="text-center">{{traspaso.engaged_to}}</td>
				<td ng-class="{'text-center':true, 'p-3 mb-2 bg-success text-white' : traspaso.seller_accepted==1, 'p-3 mb-2 bg-danger text-white' : traspaso.seller_accepted!=1}">{{traspaso.seller_accepted==1?"Aceptó":"No aceptó"}}</td>
				<td ng-class="{'text-center':true, 'p-3 mb-2 bg-success text-white' : traspaso.buyer_accepted==1, 'p-3 mb-2 bg-danger text-white' : traspaso.buyer_accepted!=1}">{{traspaso.buyer_accepted==1?"Aceptó":"No aceptó"}}</td>
				<td class="text-center">{{traspaso.seller_name}}</td>
				<td class="text-center">{{traspaso.buyer_name}}</td>
				<td class="text-center">{{traspaso.player_name}}</td>
				<td class="text-center">{{traspaso.player_id}}</td>
				<td class="text-center">{{traspaso.sell_date}}</td>
				<td class="text-center">
					<button ng-show="( 
								(traspaso.seller_accepted==1 && traspaso.seller_id == usuarioLogueado.equipo.id)
								||
								(traspaso.buyer_accepted==1 && traspaso.buyer_id == usuarioLogueado.equipo.id)
							)"
							ng-click="setCadenaState(traspaso.engaged_to, 0)">Rechazar
					</button>
					<div ng-show="!( 
								(traspaso.seller_accepted==1 && traspaso.seller_id == usuarioLogueado.equipo.id)
								||
								(traspaso.buyer_accepted==1 && traspaso.buyer_id == usuarioLogueado.equipo.id)
							)">
						<button ng-click="setCadenaState(traspaso.engaged_to, 1)">Aceptar</button>
						<br/>
						<br/>
						<button ng-click="eliminarTraspaso(traspaso.engaged_to)">Eliminar</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="infoTraspasosUsuarioLogueado.simulacionHecha && infoTraspasosUsuarioLogueado.resultadoSimulacion.traspasos.length > 0">
		<p><h3 class="retroshd text-center">Resultados</h3></p>
		<table class="table text-center">
			<thead>
				<tr>
					<th class="text-center">Número de traspaso</th>
					<th class="text-center">Resultado</th>
					<th class="text-center">Resumen</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in [] | range:infoTraspasosUsuarioLogueado.resultadoSimulacion.traspasos.length">
					<td class="text-center">{{(i+1)}}</td>
					<td class="text-center">{{infoTraspasosUsuarioLogueado.resultadoSimulacion.traspasos[i].result ? "Válido":"No válido"}}</td>
					<td class="text-center">{{infoTraspasosUsuarioLogueado.resultadoSimulacion.traspasos[i].message}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<p class="text-center">
		<button ng-show="!infoTraspasosUsuarioLogueado.simulacionHecha" ng-click="simularIntercambio()">Simular bloque de traspasos</button>
	</p>
	<div class="text-center" ng-show="infoTraspasosUsuarioLogueado.simulacionHecha">
		<p id="resultadoSimulacion">
			<div id= "alertResultados" class="alert alert-warning alert-dismissible fade show" role="alert">
				<span ng-show="!infoTraspasosUsuarioLogueado.resultadoSimulacion.bloqueValido">
					<h2>
				  		No se podrían hacer los traspasos simulados.
				  	</h2>
				</span>
				<span  ng-show="infoTraspasosUsuarioLogueado.resultadoSimulacion.bloqueValido">
					<h2>
				  		Se podrían hacer los traspasos simulados.
				  	</h2>
				  	<p class="text-center">
						<button ng-click="confirmarIntercambio()">Confirmarlos</button>
					</p>
				</span>
			</div>
		</p>
		<button ng-click="reiniciarSimulador()">Reiniciar simulación</button>
	</div>
</div>
<div ng-show="!infoTraspasosUsuarioLogueado.traspasos_no_cadenas.length || infoTraspasosUsuarioLogueado.traspasos_no_cadenas.length == 0">
	<p><h2 class="text-center retroshd">No hay traspasos con el Mercado Asiático exclusivamente</h2></p>
</div>
<!-- Final traspasos no cadenas -->





<!-- Traspasos cadenas -->
<div ng-show="infoTraspasosUsuarioLogueado.traspasos_cadenas.length > 0">
	<p><h2 class="text-center retroshd">Traspasos que involucran a otros dynastyers</h2></p>

	<table class="table text-center">
		<thead>
			<tr>
				<th class="text-center">ID de cadena</th>
				<th class="text-center">¿Aceptó el vendedor?</th>
				<th class="text-center">¿Aceptó el comprador?</th>
				<th class="text-center">Vendedor</th>
				<th class="text-center">Comprador</th>
				<th class="text-center">Nombre jugador</th>
				<th class="text-center">Id jugador</th>
				<th class="text-center">Puntos top arriba</th>
				<th class="text-center">Puntos perrunfla arriba</th>
				<th class="text-center">Fecha de creación</th>
				<th class="text-center">Cambiar mi postura</th>
			</tr>
		</tdead>
		<tbody>
			<tr ng-repeat="traspaso in infoTraspasosUsuarioLogueado.traspasos_cadenas ">
				<td class="text-center">{{traspaso.engaged_to}}</td>
				<td ng-class="{'text-center':true, 'p-3 mb-2 bg-success text-white' : traspaso.seller_accepted==1, 'p-3 mb-2 bg-danger text-white' : traspaso.seller_accepted!=1}">{{traspaso.seller_accepted==1?"Aceptó":"No aceptó"}}</td>
				<td ng-class="{'text-center':true, 'p-3 mb-2 bg-success text-white' : traspaso.buyer_accepted==1, 'p-3 mb-2 bg-danger text-white' : traspaso.buyer_accepted!=1}">{{traspaso.buyer_accepted==1?"Aceptó":"No aceptó"}}</td>
				<td class="text-center">{{traspaso.seller_name}}</td>
				<td class="text-center">{{traspaso.buyer_name}}</td>
				<td class="text-center">{{traspaso.player_name}}</td>
				<td class="text-center">{{traspaso.player_id}}</td>
				<th class="text-center">{{traspaso.added_top_points}}</th>
				<th class="text-center">{{traspaso.added_perrunflas_points}}</th>
				<td class="text-center">{{traspaso.sell_date}}</td>
				<td class="text-center">
					<button ng-show="( 
								(traspaso.seller_accepted==1 && traspaso.seller_id == usuarioLogueado.equipo.id)
								||
								(traspaso.buyer_accepted==1 && traspaso.buyer_id == usuarioLogueado.equipo.id)
							)"
							ng-click="setCadenaState(traspaso.engaged_to, 0)">Rechazar
					</button>
					<div ng-show="!( 
								(traspaso.seller_accepted==1 && traspaso.seller_id == usuarioLogueado.equipo.id)
								||
								(traspaso.buyer_accepted==1 && traspaso.buyer_id == usuarioLogueado.equipo.id)
							)">
						<button ng-click="setCadenaState(traspaso.engaged_to, 1)">Aceptar</button>
						<br/>
						<br/>
						<button ng-click="eliminarTraspaso(traspaso.engaged_to)">Eliminar</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="infoTraspasosUsuarioLogueado.simulacionCadenaHecha && infoTraspasosUsuarioLogueado.resultadoSimulacionCadena.resultados.length > 0">
		<p><h3 class="retroshd text-center">Resultados</h3></p>
		<table class="table text-center">
			<thead>
				<tr>
					<th class="text-center">Número de traspaso</th>
					<th class="text-center">Resultado</th>
					<th class="text-center">Resumen</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in [] | range:infoTraspasosUsuarioLogueado.resultadoSimulacionCadena.resultados.length">
					<td class="text-center">{{(i+1)}}</td>
					<td class="text-center">{{infoTraspasosUsuarioLogueado.resultadoSimulacionCadena.resultados[i].traspasos[0].result ? "Válido":"No válido"}}</td>
					<td class="text-center">{{infoTraspasosUsuarioLogueado.resultadoSimulacionCadena.resultados[i].traspasos[0].message}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="text-center">
		<button ng-show="!infoTraspasosUsuarioLogueado.simulacionCadenaHecha" ng-click="simularCadenaDeIntercambios()">Simular cadenas</button>
	</p>
	<div class="text-center" ng-show="infoTraspasosUsuarioLogueado.simulacionCadenaHecha == true">
		<p id="resultadoSimulacionCadena">
			<div id= "alertResultadosCadena" class="alert alert-warning alert-dismissible fade show" role="alert">
				<span ng-show="!infoTraspasosUsuarioLogueado.resultadoSimulacionCadena.cadenaValida">
					<h2>
				  		No se podrían hacer las cadenas de traspasos.
				  	</h2>
				</span>
				<span  ng-show="infoTraspasosUsuarioLogueado.resultadoSimulacionCadena.cadenaValida">
					<h2>
				  		Se podrían hacer las cadenas de traspasos.
				  	</h2>
				  	<p class="text-center">
						<button ng-click="confirmarCadenaDeIntercambios()">Confirmar cadena</button>
					</p>
				</span>
			</div>
		</p>
		<button ng-click="reiniciarSimuladorCadenas()">Reiniciar simulación</button>
	</div>
</div>
<div ng-show="!infoTraspasosUsuarioLogueado.traspasos_cadenas.length || infoTraspasosUsuarioLogueado.traspasos_cadenas.length == 0">
	<p><h2 class="text-center retroshd">No hay traspasos que involucran a otros dynastyers</h2></p>
</div>
<!-- Final traspasos cadenas -->




<!-- Traspasos actualizaciones -->
<div ng-show="infoTraspasosUsuarioLogueado.traspasos_actualizaciones.length > 0">
	<p><h2 class="text-center retroshd">Actualizaciones</h2></p>

	<table class="table text-center">
		<thead>
			<tr>
				<th class="text-center">ID de actualizacion</th>
				<th class="text-center">Precio de compra</th>
				<th class="text-center">Overall actual</th>
				<th class="text-center">Precio de venta real</th>
				<th class="text-center">---</th>
				<th class="text-center">Nombre jugador</th>
				<th class="text-center">Id jugador</th>
				<th class="text-center">Fecha de creación</th>
				<th class="text-center">Confirmar actualización</th>
			</tr>
		</tdead>
		<tbody>
			<tr ng-repeat="traspaso in infoTraspasosUsuarioLogueado.traspasos_actualizaciones ">
				<td class="text-center">{{traspaso.engaged_to}}</td>
				<td class="text-center">{{traspaso.price_paid}}</td>
				<td class="text-center">{{traspaso.player_overall}}</td>
				<td class="text-center">{{traspaso.sell_price}}</td>
				<td class="text-center">---</td>
				<td class="text-center">{{traspaso.player_name}}</td>
				<td class="text-center">{{traspaso.player_id}}</td>
				<td class="text-center">{{traspaso.sell_date}}</td>
				<td class="text-center">
					<button ng-click="confirmarActualizacion(traspaso.engaged_to)">Confirmar</button>
					<br/>
					<br/>
					<button ng-click="eliminarTraspaso(traspaso.engaged_to)">Eliminar</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="infoTraspasosUsuarioLogueado.simulacionActualizacionHecha && infoTraspasosUsuarioLogueado.resultadoSimulacionActualizacion.resultados.length > 0">
		<p><h3 class="retroshd text-center">Resultados</h3></p>
		<table class="table text-center">
			<thead>
				<tr>
					<th class="text-center">Número de traspaso</th>
					<th class="text-center">Resultado</th>
					<th class="text-center">Resumen</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in [] | range:infoTraspasosUsuarioLogueado.resultadoSimulacionActualizacion.resultados.length">
					<td class="text-center">{{(i+1)}}</td>
					<td class="text-center">{{infoTraspasosUsuarioLogueado.resultadoSimulacionActualizacion.resultados[i].traspasos[0].result ? "Válido":"No válido"}}</td>
					<td class="text-center">{{infoTraspasosUsuarioLogueado.resultadoSimulacionActualizacion.resultados[i].traspasos[0].message}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div ng-show="!infoTraspasosUsuarioLogueado.traspasos_actualizaciones.length || infoTraspasosUsuarioLogueado.traspasos_actualizaciones.length == 0">
	<p><h2 class="text-center retroshd">No hay actualizaciones</h2></p>
</div>
<!-- Final traspasos actualizaciones -->

<!-- Traspasos súper perrunflas -->
<div ng-show="infoTraspasosUsuarioLogueado.traspasosSuperPerrun.length > 0">
	<p><h2 class="text-center retroshd">Traspasos súper perrunflas</h2></p>

	<table class="table text-center">
		<thead>
			<tr>
				<th class="text-center">ID de cadena</th>
				<th class="text-center">¿Aceptó el vendedor?</th>
				<th class="text-center">¿Aceptó el comprador?</th>
				<th class="text-center">Vendedor</th>
				<th class="text-center">Comprador</th>
				<th class="text-center">Nombre jugador</th>
				<th class="text-center">Id jugador</th>
				<th class="text-center">Puntos top arriba</th>
				<th class="text-center">Puntos perrunfla arriba</th>
				<th class="text-center">Fecha de creación</th>
				<th class="text-center">Cambiar mi postura</th>
			</tr>
		</tdead>
		<tbody>
			<tr ng-repeat="traspaso in infoTraspasosUsuarioLogueado.traspasosSuperPerrun ">
				<td class="text-center">{{traspaso.engaged_to}}</td>
				<td ng-class="{'text-center':true, 'p-3 mb-2 bg-success text-white' : traspaso.seller_accepted==1, 'p-3 mb-2 bg-danger text-white' : traspaso.seller_accepted!=1}">{{traspaso.seller_accepted==1?"Aceptó":"No aceptó"}}</td>
				<td ng-class="{'text-center':true, 'p-3 mb-2 bg-success text-white' : traspaso.buyer_accepted==1, 'p-3 mb-2 bg-danger text-white' : traspaso.buyer_accepted!=1}">{{traspaso.buyer_accepted==1?"Aceptó":"No aceptó"}}</td>
				<td class="text-center">{{traspaso.seller_name}}</td>
				<td class="text-center">{{traspaso.buyer_name}}</td>
				<td class="text-center">{{traspaso.player_name}}</td>
				<td class="text-center">{{traspaso.player_id}}</td>
				<th class="text-center">{{traspaso.added_top_points}}</th>
				<th class="text-center">{{traspaso.added_perrunflas_points}}</th>
				<td class="text-center">{{traspaso.sell_date}}</td>
				<td class="text-center">
					<button ng-show="( 
								(traspaso.seller_accepted==1 && traspaso.seller_id == usuarioLogueado.equipo.id)
								||
								(traspaso.buyer_accepted==1 && traspaso.buyer_id == usuarioLogueado.equipo.id)
							)"
							ng-click="setSuperPerrunState(traspaso.engaged_to, 0)">Rechazar
					</button>
					<div ng-show="!( 
								(traspaso.seller_accepted==1 && traspaso.seller_id == usuarioLogueado.equipo.id)
								||
								(traspaso.buyer_accepted==1 && traspaso.buyer_id == usuarioLogueado.equipo.id)
							)">
						<button ng-click="setSuperPerrunState(traspaso.engaged_to, 1)">Aceptar</button>
						<br/>
						<br/>
						<button ng-click="eliminarTraspaso(traspaso.engaged_to)">Eliminar</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="infoTraspasosUsuarioLogueado.simulacionSuperPerrunHecha && infoTraspasosUsuarioLogueado.resultadoSimulacionSuperPerrun.resultados.length > 0">
		<p><h3 class="retroshd text-center">Resultados</h3></p>
		<table class="table text-center">
			<thead>
				<tr>
					<th class="text-center">Número de traspaso</th>
					<th class="text-center">Resultado</th>
					<th class="text-center">Resumen</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in [] | range:infoTraspasosUsuarioLogueado.resultadoSimulacionSuperPerrun.resultados.length">
					<td class="text-center">{{(i+1)}}</td>
					<td class="text-center">{{infoTraspasosUsuarioLogueado.resultadoSimulacionSuperPerrun.resultados[i].traspasos[0].result ? "Válido":"No válido"}}</td>
					<td class="text-center">{{infoTraspasosUsuarioLogueado.resultadoSimulacionSuperPerrun.resultados[i].traspasos[0].message}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="text-center">
		<button ng-show="!infoTraspasosUsuarioLogueado.simulacionSuperPerrunHecha" ng-click="simularIntercambiosSuperPerrun()">Simular intercambios super perrun</button>
	</p>
	<div class="text-center" ng-show="infoTraspasosUsuarioLogueado.simulacionSuperPerrunHecha == true">
		<p id="resultadoSimulacionSuperPerrun">
			<div id= "alertResultadosSuperPerrun" class="alert alert-warning alert-dismissible fade show" role="alert">
				<span ng-show="!infoTraspasosUsuarioLogueado.resultadoSimulacionSuperPerrun.cadenaValida">
					<h2>
				  		No se podrían hacer los traspasos súper perrun.
				  	</h2>
				</span>
				<span  ng-show="infoTraspasosUsuarioLogueado.resultadoSimulacionSuperPerrun.cadenaValida">
					<h2>
				  		Se podrían hacer los traspasos súper perrun.
				  	</h2>
				  	<p class="text-center">
						<button ng-click="confirmarTraspasoSuperPerrun()">Confirmar traspaso súper perrun</button>
					</p>
				</span>
			</div>
		</p>
		<button ng-click="reiniciarSimuladorSuperPerrun()">Reiniciar simulación</button>
	</div>
</div>
<div ng-show="!infoTraspasosUsuarioLogueado.traspasosSuperPerrun.length || infoTraspasosUsuarioLogueado.traspasosSuperPerrun.length == 0">
	<p><h2 class="text-center retroshd">No hay traspasos súper perrunflas</h2></p>
</div>
<!-- Final traspasos súper perrunflas -->




<!-- Traspasos Pelo A Pelo -->
<div ng-show="infoTraspasosUsuarioLogueado.traspasosPeloPelo.length > 0">
	<p><h2 class="text-center retroshd">Traspasos Pelo a Pelo</h2></p>

	<table class="table text-center">
		<thead>
			<tr>
				<th class="text-center">ID de cadena</th>
				<th class="text-center">¿Aceptó el vendedor?</th>
				<th class="text-center">¿Aceptó el comprador?</th>
				<th class="text-center">Vendedor</th>
				<th class="text-center">Comprador</th>
				<th class="text-center">Nombre jugador</th>
				<th class="text-center">Id jugador</th>
				<th class="text-center">Puntos top arriba</th>
				<th class="text-center">Puntos perrunfla arriba</th>
				<th class="text-center">Fecha de creación</th>
				<th class="text-center">Cambiar mi postura</th>
			</tr>
		</tdead>
		<tbody>
			<tr ng-repeat="traspaso in infoTraspasosUsuarioLogueado.traspasosPeloPelo ">
				<td class="text-center">{{traspaso.engaged_to}}</td>
				<td ng-class="{'text-center':true, 'p-3 mb-2 bg-success text-white' : traspaso.seller_accepted==1, 'p-3 mb-2 bg-danger text-white' : traspaso.seller_accepted!=1}">{{traspaso.seller_accepted==1?"Aceptó":"No aceptó"}}</td>
				<td ng-class="{'text-center':true, 'p-3 mb-2 bg-success text-white' : traspaso.buyer_accepted==1, 'p-3 mb-2 bg-danger text-white' : traspaso.buyer_accepted!=1}">{{traspaso.buyer_accepted==1?"Aceptó":"No aceptó"}}</td>
				<td class="text-center">{{traspaso.seller_name}}</td>
				<td class="text-center">{{traspaso.buyer_name}}</td>
				<td class="text-center">{{traspaso.player_name}}</td>
				<td class="text-center">{{traspaso.player_id}}</td>
				<th class="text-center">{{traspaso.added_top_points}}</th>
				<th class="text-center">{{traspaso.added_perrunflas_points}}</th>
				<td class="text-center">{{traspaso.sell_date}}</td>
				<td class="text-center">
					<button ng-show="( 
								(traspaso.seller_accepted==1 && traspaso.seller_id == usuarioLogueado.equipo.id)
								||
								(traspaso.buyer_accepted==1 && traspaso.buyer_id == usuarioLogueado.equipo.id)
							)"
							ng-click="setPeloPeloState(traspaso.engaged_to, 0)">Rechazar
					</button>
					<div ng-show="!( 
								(traspaso.seller_accepted==1 && traspaso.seller_id == usuarioLogueado.equipo.id)
								||
								(traspaso.buyer_accepted==1 && traspaso.buyer_id == usuarioLogueado.equipo.id)
							)">
						<button ng-click="setPeloPeloState(traspaso.engaged_to, 1)">Aceptar</button>
						<br/>
						<br/>
						<button ng-click="eliminarTraspaso(traspaso.engaged_to)">Eliminar</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div ng-show="infoTraspasosUsuarioLogueado.simulacionPeloPeloHecha && infoTraspasosUsuarioLogueado.resultadoSimulacionPeloPelo.resultados.length > 0">
		<p><h3 class="retroshd text-center">Resultados</h3></p>
		<table class="table text-center">
			<thead>
				<tr>
					<th class="text-center">Número de traspaso</th>
					<th class="text-center">Resultado</th>
					<th class="text-center">Resumen</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in [] | range:infoTraspasosUsuarioLogueado.resultadoSimulacionPeloPelo.resultados.length">
					<td class="text-center">{{(i+1)}}</td>
					<td class="text-center">{{infoTraspasosUsuarioLogueado.resultadoSimulacionPeloPelo.resultados[i].traspasos[0].result ? "Válido":"No válido"}}</td>
					<td class="text-center">{{infoTraspasosUsuarioLogueado.resultadoSimulacionPeloPelo.resultados[i].traspasos[0].message}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<p class="text-center">
		<button ng-show="!infoTraspasosUsuarioLogueado.simulacionPeloPeloHecha" ng-click="simularIntercambiosPeloPelo()">Simular intercambios Pelo A Pelo</button>
	</p>
	<div class="text-center" ng-show="infoTraspasosUsuarioLogueado.simulacionPeloPeloHecha == true">
		<p id="resultadoSimulacionPeloPelo">
			<div id= "alertResultadosPeloPelo" class="alert alert-warning alert-dismissible fade show" role="alert">
				<span ng-show="!infoTraspasosUsuarioLogueado.resultadoSimulacionPeloPelo.cadenaValida">
					<h2>
				  		No se podrían hacer los traspasos Pelo A Pelo.
				  	</h2>
				</span>
				<span  ng-show="infoTraspasosUsuarioLogueado.resultadoSimulacionPeloPelo.cadenaValida">
					<h2>
				  		Se podrían hacer los traspasos Pelo A Pelo.
				  	</h2>
				  	<p class="text-center">
						<button ng-click="confirmarTraspasoPeloPelo()">Confirmar traspaso Pelo A Pelo</button>
					</p>
				</span>
			</div>
		</p>
		<button ng-click="reiniciarSimuladorPeloPelo()">Reiniciar simulación</button>
	</div>
</div>
<div ng-show="!infoTraspasosUsuarioLogueado.traspasosPeloPelo.length || infoTraspasosUsuarioLogueado.traspasosPeloPelo.length == 0">
	<p><h2 class="text-center retroshd">No hay traspasos Pelo A Pelo</h2></p>
</div>
<!-- Final traspasos Pelo a Pelo-->