<div style="background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(50,107,30)),repeating-linear-gradient(135deg, rgb(50,107,30) 0px, rgb(50,107,30) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(129,199,0) 0px, rgb(129,199,0) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(50,107,30),rgb(50,107,30))">
  <!-- LOG OUT-->
  <div class="topnav">
    <ul class="nav navbar-nav navbar-right">
      <a href='#' ng-click="logout();" class="fas fa-sign-out-alt  ml-auto text-light">Log out</a>
    </ul>
  </div>




  <div class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">
          <a class="nav-link text-white" href ng-click="irAVerEquipo(usuarioLogueado.equipo.id)">
            {{usuarioLogueado.name}}
          </a>
        </div>
        <div class="list-group list-group-flush">
          <a href ng-click="habilitarBuscarJugador()" style="line-height: auto" class="list-group-item list-group-item-action bg-light mb-1" >Buscar jugador</a>
          <a href ng-click="habilitarTraspasos()" style="line-height: auto" class="list-group-item list-group-item-action bg-light mb-1" >Traspasos <span ng-show="infoTraspasosUsuarioLogueado.cantidadTraspasosPendientes!=0" class="badge badge-danger">{{infoTraspasosUsuarioLogueado.cantidadTraspasosPendientes}}</span></a>
          <a href ng-click="habilitarVerOtroEquipo()" style="line-height: auto" class="list-group-item list-group-item-action bg-light mb-1" >Ver otro equipo</a>
          <a href ng-click="habilitarProximosPartidos()" style="line-height: auto" class="list-group-item list-group-item-action bg-light mb-1" >Ver próximos partidos</a>
          <a href ng-click="habilitarVerJugadoresLibres()" style="line-height: auto" class="list-group-item list-group-item-action bg-light mb-1" >Ver jugadores libres</a>
          <a href ng-click="habilitarVerReglamento()" style="line-height: auto" class="list-group-item list-group-item-action bg-light mb-1" >Reglamento Dynástyco (En construccyón)</a>
        </div>
        <div id="sideBarSpace" ng-include="sideBarSpaceSource"></div>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light border-bottom text-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="container container-fluid">
            <h3 class="text-center">{{(periodosInfo.enPeriodoDeTraspasos)?
            "Está abierto el período de traspasos, se cerrará el " + periodosInfo.proximoCierre:(periodosInfo.proximoInicio!=null)?
            "Está cerrado el período de traspasos, se abrirá el " + periodosInfo.proximoInicio:"Período de traspasos cerrado, no hay fecha de apertura aún."}}</h3>
          </div>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link text-light" href ng-click="irAVerEquipo(usuarioLogueado.equipo.id)">Ver {{usuarioLogueado.equipo.name}} <span class="sr-only">(current)</span></a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light"   href ng-click="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Otros sitios
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="https://sofifa.com/players">Ir a Sofifa</a>
                  <a class="dropdown-item" href="https://www.toornament.com/en_GB/">Ir a toornament</a>
                  <!-- <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <div id= "panelCentral" class="container-fluid">
          <h1 class="xbootstrap">
            <a href ng-click="irAVerEquipo(equipoMostrado.id)" class="list-group-item list-group-item-action bg-light">
              <img ng-show="equipoMostrado.logo != null && equipoMostrado.logo != ''" ng-src="{{equipoMostrado.logo}}" height="75">
              {{equipoMostrado.name}}
              <img ng-show="equipoMostrado.logo != null && equipoMostrado.logo != ''" ng-src="{{equipoMostrado.logo}}" height="75">
            </a>
          </h1>
          <div class="text-center">
            <a ng-show="equipoMostrado.sofifa_team_uri != null && equipoMostrado.sofifa_team_uri != ''" href="{{equipoMostrado.sofifa_team_uri}}" class="list-group-item bg-light text-center" style="display: inline-block;">Equipo en Sofifa</a>
            <a ng-show="equipoMostrado.canal_youtube != null && equipoMostrado.canal_youtube != ''" href="{{equipoMostrado.canal_youtube}}" class="list-group-item bg-light text-center" style="display: inline-block;">Canal de YouTube</a>
            <span ng-show="equipoMostrado.usuario_psn != null && equipoMostrado.usuario_psn != ''" class="list-group-item bg-light text-center" style="display: inline-block;">Usuario PSN: {{equipoMostrado.usuario_psn}}</span>
            <a ng-show="equipoMostrado.fylyal_name != null && equipoMostrado.fylyal_name != ''" href ng-click="irAVerEquipo(equipoMostrado.fylyal_id)" class="list-group-item bg-light text-center" style="display: inline-block;">Fylyal: {{equipoMostrado.fylyal_name}}</a>
          </div>
          <div ui-view="CenterPanel"></div>
        </div>
      </div>
    </div>


    <!-- modalIntercambio -->
  <div class="modal fade" id="modalIntercambio" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-info" id="modalIntercambioTitle">{{infoModalIntercambios.title}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelarModalIntercambio()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">




          <!-- Sección comprar jugador. -->

          <div  id="secciónComprarJugador" ng-show="infoModalIntercambios.showBuySection">
            <span class="text-info">Comprar un jugador:</span>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Pagar extra tops</span>
                </div>
                <input class="form-control" type = "text" placeholder="Puntos" ng-model="infoModalIntercambios.puntosTopArribaDeCompra">
                <br>
                <div class="input-group-prepend">
                  <span class="input-group-text">Pagar extra perrunflas</span>
                </div>
                <input class="form-control" type = "text" placeholder="Puntos" ng-model="infoModalIntercambios.puntosPerrunflasArribaDeCompra">
            </div>
            <div id="mainPageContainer container container-fluid" ng-show="infoModalIntercambios.showSelectPlayerToBuy">
              <input type = "text" placeholder="Nombre o id" ng-model="infoModalIntercambios.textoJugadorABuscar" ng-change="actualizarBusquedaJugador()">
                <div class="list-group list-group-flush">
                <a href ng-click="seleccionarJugadorParaComprar(jugador)" class="list-group-item list-group-item-action bg-light" ng-repeat="jugador in infoModalIntercambios.jugadoresEncontrados | limitTo : 15">{{jugador.id}} - {{jugador.name}} - {{jugador.overall_rating}}</a>
              </div>
            </div>
            <div id="jugadorSeleccionado" class= "container" ng-show="infoModalIntercambios.jugadorSeleccionado != null">
              <h5 class="card-title">{{infoModalIntercambios.jugadorSeleccionado.name}}</h5>
                
                <img alt="" ng-src="https://www.fifaindex.com/static/FIFA20/images/players/10/{{infoModalIntercambios.jugadorSeleccionado.id}}.webp" ng-srcset="https://www.fifaindex.com/static/FIFA20/images/players/10/{{infoModalIntercambios.jugadorSeleccionado.id}}.webp" ng-type="player" onerror="this.onerror=null;this.ng-src=null;this.ng-srcset=null;this.srcset='https://www.fifaindex.com/static/FIFA21/images/players/10/notfound.png';this.src='https://www.fifaindex.com/static/FIFA21/images/players/10/notfound.png'" src="https://www.fifaindex.com/static/FIFA21/images/players/10/notfound.png" srcset="https://www.fifaindex.com/static/FIFA21/images/players/10/notfound.png">
              <h2>Valor: {{infoModalIntercambios.jugadorSeleccionado.overall_rating}}</h1>
              <div ng-show="infoModalIntercambios.jugadorSeleccionado.team_id">
                <p class="card-text"><h3>Equipo: {{infoModalIntercambios.jugadorSeleccionado.team_name}}</h3></p>
                
                <div ng-show="(infoModalIntercambios.jugadorSeleccionado.team_id != 1)">
                  <p class="card-text"><h5>Valor de compra: {{infoModalIntercambios.jugadorSeleccionado.price_paid}}</h5></p>
                  <p class="card-text">
                    <h5 ng-show="infoModalIntercambios.jugadorSeleccionado.is_top!='0'">Es top</h5>
                    <h5 ng-show="infoModalIntercambios.jugadorSeleccionado.is_top=='0'">Es perrunfla</h5>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Termina sección comprar jugador. -->

          





          <!-- Sección vender jugador. -->

          <div id="secciónVenderJugador" ng-show="infoModalIntercambios.showSellSection">
            
            <div id="todoslosabemos" ng-show="infoModalIntercambios.showPeloPeloPlayer">
              <span class="text-info">Vender un top:</span>
              <select class="custom-select" id="cmbSeleccionarJugadores" ng-model="infoModalIntercambios.jugadorParaVender" ng-options="jugador.name + ' - comprado a: ' + jugador.price_paid + ', hoy vale: ' + jugador.overall_rating for jugador in jugadoresDelUsuario.tops  | filter:filterPeloPelo()"></select>
              <span class="text-info">Vender un perrunfla:</span>
              <select class="custom-select" id="cmbSeleccionarJugadores" ng-model="infoModalIntercambios.jugadorParaVender" ng-options="jugador.name + ' - comprado a: ' + jugador.price_paid + ', hoy vale: ' + jugador.overall_rating for jugador in jugadoresDelUsuario.perrunflas  | filter:filterPeloPelo()"></select>
            </div>

            <div id="seleccionarJugadorParaVender" ng-show="infoModalIntercambios.showSelectPlayerToSell">

                <span class="text-info">Vender un top:</span>
                <select class="custom-select" id="cmbSeleccionarJugadorTop" ng-model="infoModalIntercambios.jugadorParaVender" ng-options="jugador.name + ' - comprado a: ' + jugador.price_paid + ', hoy vale: ' + jugador.overall_rating for jugador in jugadoresDelUsuario.tops"></select>

                <span class="text-info">Vender un perrunfla:</span>
                <select class="custom-select" id="cmbSeleccionarJugadorPerrunfla" ng-model="infoModalIntercambios.jugadorParaVender" ng-options="jugador.name + ' - comprado a: ' + jugador.price_paid + ', hoy vale: ' + jugador.overall_rating for jugador in jugadoresDelUsuario.perrunflas"></select>

            </div>
            

            <div id="ofrecerJugador" ng-show="infoModalIntercambios.showOfrecerJugador!==false">  
              <h5 class="text-info">¿A quién le ofrecés tu jugador?</h3>
              

              <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <button type="button" 
                  ng-click="infoModalIntercambios.equipoAVenderle = {id:'1'}" class="btn btn-secondary">Mercado Asiático</button>
                <!-- <button type="button" class="btn btn-secondary" ng-click="infoModalIntercambios.equipoAVenderle = {id:infoModalIntercambios.jugadorParaComprar.team_id}">{{infoModalIntercambios.<jugadorParaComprar class="team_nam"></jugadorParaComprar>e}}</button> -->

                <select class="btn btn-secondary" id="cmbSeleccionarEquipo" ng-model="infoModalIntercambios.equipoAVenderle" ng-options="equipo.name for equipo in equipos_asignados| orderBy:'name'">Otro equipo</select>
              </div>

              <div class="input-group mb-3" ng-show="infoModalIntercambios.equipoAVenderle.id != 1">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Pedir extra tops</span>
                  </div>
                  <input class="form-control" type = "text" placeholder="Puntos" ng-model="infoModalIntercambios.puntosTopArribaDeVenta">
                  <br>
                  <div class="input-group-prepend">
                    <span class="input-group-text">Pedir extra perrunflas</span>
                  </div>
                  <input class="form-control" type = "text" placeholder="Puntos" ng-model="infoModalIntercambios.puntosPerrunflasArribaDeVenta">
              </div>
            </div>    
          </div>
      <!-- Termina sección vender jugador. -->

      
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="cancelarModalIntercambio()">No</button>
            <button type="button" class="btn btn-primary" ng-click="confirmarModalIntercambio()">{{infoModalIntercambios.confirmText}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Termina modalIntercambio -->
</div>