<div class="container text-center bg-light rounded border border-dark shadow p-3 mb-2">
  <div class="row">
    <div class="col">
      Presupuesto top: {{equipoMostrado.top_budget}}
    </div>
    <div class="col">
      Suma de jugadores top: {{equipoMostrado.suma_tops}}
    </div>
    <div class="col">
      Resto top: {{equipoMostrado.resto_tops}}
    </div>
    <div class="col">
      Valor equipo tops: {{equipoMostrado.valor_equipo_tops}}
    </div>
  </div>
  <div class="row">
    <div class="col">
      Presupuesto perrunfla: {{equipoMostrado.perrunflas_budget}}
    </div>
    <div class="col">
      Suma de jugadores perrunflas: {{equipoMostrado.suma_perrunflas}}
    </div>
    <div class="col">
      Resto perrunflas: {{equipoMostrado.resto_perrunflas}}
    </div>
    <div class="col">
      Valor equipo perrunflas: {{equipoMostrado.valor_equipo_perrunflas}}
    </div>
  </div>
</div>


<!-- FUNCIONALIDAD mostrarJugadores-->
        <div id="mostrarJugadores">
          <table class="table text-center">
            <thead class="bg-light">
              <tr>
                <th class="text-center">Nro.</th>
                <th class="text-center">ID</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Valor actual</th>
                <th class="text-center">Es top</th>
                <th class="text-center">Valor de compra</th>
                <th class="text-center">Equipo actual</th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th class="text-center"></th>
                <th class="text-center">
                  <input type = "text" placeholder="Buscar ID" ng-model="filtroJugador.filtroId">
                </th>
                <th class="text-center">
                  <input type = "text" placeholder="Buscar Nombre" ng-model="filtroJugador.filtroNombre">
                </th>
                <th class="text-center">
                 <input type = "text" placeholder="Actual min" ng-model="filtroJugador.filtroValorActualMin">
                 <input type = "text" placeholder="Actual max" ng-model="filtroJugador.filtroValorActualMax">
                </th>
                <th class="text-center"></th>
                <th class="text-center">
                  <input type = "text" placeholder="V. de compra min" ng-model="filtroJugador.filtroValorCompraMin">
                  <input type = "text" placeholder="V. de compra max" ng-model="filtroJugador.filtroValorCompraMax">
                </th>
                <th class="text-center">
                  <input type = "text" placeholder="Equipo actual" ng-model="filtroJugador.filtroEquipoActual">
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="jugador in jugadoresMostrados 
              | filter: 
              {
              name: filtroJugador.filtroNombre
              , id: filtroJugador.filtroId
              , team_name: filtroJugador.filtroEquipoActual
              }
              | filter: betweenMinAndMax(
              filtroJugador.filtroValorActualMin
              , filtroJugador.filtroValorActualMax
              , 'overall_rating'
              )
              | filter: betweenMinAndMax(
              filtroJugador.filtroValorCompraMin
              , filtroJugador.filtroValorCompraMax
              , 'price_paid'
              )
              | limitTo: 25
              " ng-class="{'font-weight-bold':true, 'p-3 mb-2 bg-success text-white' : jugador.is_top!=0, 'p-3 mb-2 bg-info text-white' : jugador.is_top==0}">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-center">
                  <a class="badge badge-light" href="https://sofifa.com/player/{{jugador.id}}">{{jugador.id}}</a>
                </td>
                <td class="text-center">
                  <h4><a class="badge badge-light" href="#!/userZone/verJugador/{{jugador.id}}">{{jugador.name}}</a></h4>
                </td>
                <td class="text-center">{{jugador.overall_rating}}</td>
                <td class="text-center">
                    <label class="form-check-label" for="exampleCheck1">{{(jugador.is_top!=0)?"Top.":"Perrunfla"}}</label>
                </td>
                <td class="text-center">{{jugador.price_paid}}</td>
                <td class="text-center">
                  <a class="badge badge-light" href="https://en.wikipedia.org/w/index.php?search={{jugador.team_name}}">{{jugador.team_name}}</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>