<div class="card text-white bg-success mb-3 text-center" style="max-width: 18rem; margin:auto">
  <div class="card-header">

  	<img alt="" ng-src="https://www.fifaindex.com/static/FIFA20/images/players/10/{{(jugadorMostrado.idMitad1 + '' + jugadorMostrado.idMitad2)}}.webp" ng-srcset="https://www.fifaindex.com/static/FIFA20/images/players/10/{{(jugadorMostrado.idMitad1 + '' + jugadorMostrado.idMitad2)}}.webp" ng-type="player" onerror="this.onerror=null;this.ng-src=null;this.ng-srcset=null;this.srcset='https://www.fifaindex.com/static/FIFA21/images/players/10/notfound.png';this.src='https://www.fifaindex.com/static/FIFA21/images/players/10/notfound.png'" src="https://www.fifaindex.com/static/FIFA21/images/players/10/notfound.png" srcset="https://www.fifaindex.com/static/FIFA21/images/players/10/notfound.png">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{jugadorMostrado.name}}</h5>
    <p class="card-text">
    	<h2>Valor: {{jugadorMostrado.overall_rating}}</h1>
		<div ng-show="jugadorMostrado.team_id">
			<p class="card-text"><h3>Equipo: {{jugadorMostrado.team_name}}</h3></p>
			<p class="card-text"><h5>Valor de compra: {{jugadorMostrado.price_paid}}</h5></p>
			<p class="card-text"><h5>Valor de venta real: {{jugadorMostrado.real_sell_price}}</h5></p>
			<p class="card-text">
				<h5 ng-show="jugadorMostrado.is_top!='0'">Es top</h5>
				<h5 ng-show="jugadorMostrado.is_top=='0'">Es perrunfla</h5>
			</p>

			<button ng-show="jugadorMostrado.team_id != $parent.usuarioLogueado.equipo.id"  type="button" class="btn btn-primary" ng-click="mostrarModalComprarJugadorDeOtroDynastyer()">Hacer una oferta</button>
			
			<button ng-show="jugadorMostrado.esSuperPerrunfla && jugadorMostrado.team_id != $parent.usuarioLogueado.equipo.id"  type="button" class="btn btn-primary" ng-click="mostrarModalComprarSuperPerrunfla()">Comprar súper perrunfla</button>

			<button ng-show="jugadorMostrado.team_id != $parent.usuarioLogueado.equipo.id"  type="button" class="btn btn-primary" ng-click="mostrarModalPeloPelo()">Pelo a Pelo cagon</button>
			

			<div ng-show="jugadorMostrado.team_id == $parent.usuarioLogueado.equipo.id" >
				<button  type="button" class="btn btn-primary" ng-click="mostrarModalVenderJugador()">Vender jugador</button>
				<br>
				<br>
				<button  type="button" ng-show="jugadorMostrado.real_sell_price != jugadorMostrado.price_paid" class="btn btn-primary" ng-click="mostrarModalActualizarJugador()">Actualizar jugador</button>
			</div>
		</div>
		<div ng-show="!jugadorMostrado.team_id">
			<p class="card-text"><h3>Mercado Asiático</h3></p>
			
			<button type="button" class="btn btn-primary" ng-click="mostrarModalComprarJugadorLibre()">Comprar</button>
		</div>
    </p>
  </div>
</div>