<div id="mainPageContainer container container-fluid">
	<h3>Jugadores libres</h3>
	<form>
	    <input type = "text" placeholder="Mínimo" ng-model="$parent.minimoDeJugadorLibre"><br/>
	    <input type = "text" placeholder="Máximo" ng-model="$parent.maximoDeJugadorLibre"><br/>
	    <button type="submit" class="btn btn-primary" ng-click="listarJugadoresLibres()">Buscar</button>
   	</form>
    <div class="overflow-auto" style="height:350px">
		<a href="#!/userZone/verJugador/{{jugador.id}}" style="line-height: auto" class="list-group-item list-group-item-action bg-light mb-1" ng-repeat="jugador in jugadoresLibresEncontrados | limitTo: 100" class="">{{jugador.id}} - {{jugador.name}} - {{jugador.overall_rating}}</a>
	</div>
</div>