<div id="mainPageContainer container container-fluid">
	<h3>Ver otro equipo</h3>
    <input type = "text" placeholder="Nombre" ng-model="textoEquipoABuscar">
    <div class="overflow-auto" style="height:350px">
		<a href="#!/userZone/verEquipo/{{equipo.id}}" style="line-height: auto" class="list-group-item list-group-item-action bg-light mb-1" ng-repeat="equipo in $parent.equipos_asignados | filter: textoEquipoABuscar | orderBy:'name'" class="">{{equipo.name}}</a>
	</div>
</div>
