<div class= "container" style="margin-top: 16rem!important">
  <div class= "row">
    <!-- <div class= "col-sm-12 text-center"><img ng-src="app/Imágenes/Logo Dynasty.jpeg" ng-style="{ width: '225px', height: '200px' }"></div> -->
    <form class= "align-items-center col-sm-5 mx-auto mt-5"> 
      <div class="form-group text-center py-4 ">       
        <input class="form-control focused input" type="text" placeholder ="Usuario" ng-model="userLogin.user">
        <br>
        <input class="form-control focused input" type="password" placeholder="Contraseña" ng-model="userLogin.psw">
        <br>
        <p class="text-white">{{error}}</p>
        <button ng-click="tryLogin()" class="btn btn-success mx-auto">Log in</button>
      </div>
    </form>
  </div>
</div>