<div class="container-fluid text-center" > 
	<p id="imagen" class="text-center"><img ng-src={{albumActual.img}} ng-style="{ width: '225px', height: '200px' }"></p>
	<h1 id="nombre-album" ng-show="state == 'view'"> Album: {{albumActual.nombre}}</h1>
	<div ng-show="state != 'view'">
		<p><input type="text" placeholder ="URL de imagen del Álbum" ng-model="albumActual.img"></p>
		<span>
			<input type="text" placeholder ="Nombre del Álbum" ng-model="albumActual.nombre">
			<input type="text" placeholder ="artist" ng-model="albumActual.artist">
		</span>
	</div>

	<!-- LISTA DE TODOS LOS TRACKS / TRACKS DEL ALBUM-->
	<div id="listaDeTracks" ng-include="'app/components/album/views/trackElement.html'"></div>


	<p class="text-center" ng-show = "state == 'create'"><button ng-click="confirmarCreacionAlbum()" class="btn btn-success mx-auto">Crear Album</button></p>

	<p><button class="btn btn-dark" ng-show = "state == 'view'" ng-click='state = "edit"; actualizarTracksMostrados()'>Editar Album</button></p>

	<p><button class="btn btn-dark" ng-show = "state == 'edit'" ng-click='state = "view"; actualizarTracksMostrados()'>Ver Album</button></p>
	


	<div ng-show="state == 'view'">
		<audio id="player" src={{trackCargado.mp3}} controls>
		    <source src={{trackCargado.mp3}} type={{trackCargado.type}}>
		    Your browser does not support the audio tag.
		</audio>
		<span class="">
			<p>Tipo de reproducción: <select ng-model="tipoReproduccion" ng-options="tipo.nombre for tipo in tiposDeReproduccion"></select></p>
			<p><button class="btn btn-dark" ng-click='reproducirAnterior()' ng-show="tipoReproduccion.id == 1">Anterior</button><button class="btn btn-dark" ng-click='reproducirSiguiente()' ng-show="tipoReproduccion.id != 0">Siguiente</button></p>
		</span>
	</div>


	<p><button class="btn btn-dark" ui-sref='mainPage({page:1, albumsPerPage:12, styleName:"All"})'>Volver a Main Page</button></p>
</div>