<div style="margin-top: 1rem; margin-bottom: 1rem" class="text-left">
	<nav aria-label="Tracks pagination">
	  <ul class="pagination">
	    <li class="page-item">
	    	<a class="page-link" ng-show="pageNumber > 1" ui-sref="album({albumId:albumActual.id, command:state, page:pageNumber-1, tracksPerPage:pageSize, playMode:tipoReproduccion.id})" href="#" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
        		<span class="sr-only">Previous</span>
	    	</a>
	    </li>
	    <li ng-repeat="track in tracks | limitTo: Math.ceil(tracks.length / pageSize)" class="page-item" ng-class="{'badge badge-primary':$index+1 == pageNumber}">
	    	<a class="page-link" ui-sref="album({albumId:albumActual.id, command:state, page:$index+1, tracksPerPage:pageSize, playMode:tipoReproduccion.id})" href="#">
	    		{{$index+1}}
	    	</a>
	    </li>
		<li class="page-item">
			<a class="page-link" ng-show="pageNumber < Math.ceil(tracks.length / pageSize)" ui-sref="album({albumId:albumActual.id, command:state, page:pageNumber+1, tracksPerPage:pageSize, playMode:tipoReproduccion.id})" href="#" aria-label="Next">
		   		<span aria-hidden="true">&raquo;</span>
	        	<span class="sr-only">Next</span>
			</a>
		</li>
	  </ul>
	</nav>
	<p><input type="text" placeholder ="Tracks / página" ng-model="pageSize"></p>
	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Nombre</th>
				<th class="text-center">URL</th>
				<th class="text-center">Duración</th>
				<th class="text-center">Cantidad de Reproducciones</th>
				<th class="text-center" ng-show = "state == 'edit' || state == 'create'">Acciones</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th class="text-center"><input type="text" class="form-control" placeholder="Buscar por nombre" ng-model="filtroNombre"></th>
				<th class="text-center"><input type="text" class="form-control" placeholder="Buscar por URL" ng-model="filtroURL"></th>
				<!-- <th class="text-center"><input type="button" class="botton" value="Ordenar asc" ng-click="ordenarTracksPorCantRepr()"></th>
				<th class="text-center" ng-show = "state == 'edit' || state == 'create'">Acciones</th>-->
			</tr>
		</thead>
		<thead>
			<tr>
				<th class="text-center"><input type="text" class="form-control" placeholder="Nombre de nuevo track" ng-model="audioObj.nombreTrackASubir"></th>
				<th class="text-center"><!--{{urlTrackASubir}}-->
					<input type="file" ng-show="!audioSubidoState" onloadend="onAudioSubido" ng-model="audioObj.audioSubido" class="form-control" base-sixty-four-input>
					<button ng-click= 'agregarAudioAlAlbum()' ng-show="audioSubidoState">Agregar al álbum</button> 
					<button ng-click= 'cancelarSubidaTrack()' ng-show="audioSubidoState">Cancelar</button> 
					<button ng-click= 'reproducirTrackSubido()' ng-show="audioSubidoState">{{audioObj.textoReproducirOPausar}}</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="track in tracks | limitTo: pageSize: (pageNumber-1)*pageSize | filter: {name: filtroNombre, mp3: filtroURL, cantPlay:filtroCantRepr}" ng-click="cargarTrack($index + (pageNumber-1)*pageSize);" ng-class="{'bg-secondary': track==trackCargado && state == 'view'}">
				<td class="text-center">{{track.name}}</td>
				<td class="text-center">{{track.mp3}}</td>
				<td class="text-center">{{track.duration}}</td>
				<td class="text-center">{{track.cantPlay}}</td>
				<td  class="text-center" ng-show = "state == 'edit' || state == 'create'"> 
					<button ng-click= 'agregarTrack(track)' ng-show= '!(track.estaEnElAlbum)'>Agregar</button> 
					<button ng-click= 'quitarTrack(track)' ng-show='track.estaEnElAlbum'>Quitar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>